{% extends "base.html" %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/FileSaver.js') }}"></script>
<script src="{{ url_for('static', filename='js/qcv.js') }}"></script>
{% endblock %}
{% block styles %}
    {% if themestyle %}
        <style>
        {{themestyle}}
        </style>
    {% endif %}
{% endblock %}
{% block main_content%}
    <div class="row">
        <div class="columns three">
            This theme used <b>{{num_users}}</b> times.
        </div>
    </div>
    {% if not session.get('access_token') %}
      <div class="row">
        <div class="eleven columns">
            <form action="/login" method="post">
                <button class="button-primary" type="submit">LoginWith Linkedin</button>
            </form>

        </div>
      </div>
    {% endif %}
            <div class="row" style="margin-top:10px;">
    {% if session.get('access_token') and first_name == session.get('first_name') and last_name == session.get('last_name')%}
                <div class="columns five"></div>
                <!--<div class="column one">-->
                        <!--<a href="#" id="sync-btn">Sync</a>-->
                <!--</div>-->
                <div class="columns two">
                        <a href="#" id="theme-btn">Edit Theme</a>
                </div>
                {% if session.get('access_token') %}
                <div class="column one">
                        <a href="#" id="pdf-btn">PDF</a>
                </div>
                {% endif %}


    {% elif session.get('access_token')%}
                <div class="columns three">
                        <a href="#" id="usetheme-btn">Use this Theme</a>
                </div>

    {% endif %}
            </div>
    {{theme|safe}}


{% endblock %}